@use '../../styles/tokens' as *;

.header {
  width: 100%;
  background: $color-white;
  color: #757575;
  font-family: $font-base;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  position: relative;
  z-index: 4;
}
